<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %}{{title}}{% endblock %}
        </title>

        {% block styles %}

        <!-- bootstrap -->
        <link rel="stylesheet"
                href="{{ url_for('static', filename='webLib/bootstrap/css/bootstrap.min.css')}}" />

        <!-- theme bootstrap -->
        <link rel="stylesheet"
                href="{{ url_for('static', filename='webLib/bootstrap/css/bootstrap-theme.min.css')}}" />

        <!-- css perso -->
        <link rel="stylesheet"
                href="{{ url_for('static', filename='css/style.css')}}" />

        {% endblock %}

        {% block js %}
        <script
                src="{{url_for('static', filename='webLib/jquery/jquery.min.js')}}">
        </script>
        {% endblock %}


    </head>
    <body>
        <row>
            <div id="header" class="gamePanel header col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6"><h1>Venez tester vos conaissances face a un autre joueur !</h1></div>
                <div class="col-md-3" id="loginInf">
                {% if current_user.is_authenticated %}
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span><a>{{ current_user.username }}</a>
                <br>
                <a href="{{ url_for('logout') }}" >
                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                </span>Se deconnecter</a>

                {%else %}
                 <form class="form-horizontal" id="loginForm" role="form"
                       method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                		{{ form.username(size=20,class_="form-control form-margin",placeholder="Nom d'utilisateur") }}
                </div>
                <div class="form-group">
                		{{ form.password(size=20,class_="form-control form-margin",placeholder="Mot de passe") }}
                </div>
                <div class="form-group">
                		<button type="submit" class="btn btn-default btn-sm  form-margin">Log in</button>
                		<a href="{{ url_for('signin')}}"
                            class="btn btn-default btn-sm  form-margin">
                            <span class="glyphicon glyphicon-user" aria-hidden="true">
                            </span> Inscription
                        </a>
                </div>
                {%endif%}
                </div>
            </div>
            <div id="scores" class="gamePanel scores col-md-3">
            </div>
            <div id="game" class="gamePanel game col-md-6"></div>
            <div id="admin" class="gamePanel admin col-md-3">
                <h3> Mes quizzs </h3>
                <hr />
                <h4> Nouveau quizz</h4>
                <form>
                    <div class="form-group" id="newQuizz">
                        <label for="Nom">Nom du quizz</label>
                        <input type="text" class="form-control" id="quizzName" placeholder="nom">
                    </div>
                    <div class="btn btn-default" onclick="newQuizz();">Créer</div>
                </form>
                <hr />
                <h4> Modifier mes quizzs </h4>
                <div id="mesQuizzs">



                </div>
            </div>

        </row>

        {% block test %}
        {% endblock %}

    </body onload="init();">
</html>
