{% extends "layout.html" %}
{% block js %}
{{ super() }}

<script
        src="{{url_for('static', filename='js/game.js')}}">
</script>

<script type="text/javascript">
    window.onload = init;
</script>


{% endblock %}

{% block test %}
<div id="test"></div>
<div class="btn btn-default" onclick="mdr();"> Clique PD</div>

<script type="text/javascript">
function mdr(){
    $("#test").append(testFunc());
}

</script>

{% endblock %}
